body{
    background-color: rgb(241, 239, 234);
}


#book-container{
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1em;
    justify-content: center;
}

/*----- card design------- */

.card{
    width: 300px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5) ;
    transition: box-shadow .4s;
    overflow: hidden;
    border-radius: 1em;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.5);
    background-color: rgb(62, 41, 65);
    color: white;
    transition: .4s;
}

.card img{
    width: 100%;
    transition: transform .4s;
    height: 250px;
}

.card:hover img{
    transform: scale(1.1);
}

.book-text{
    padding: .7em 1em;
    margin-top: 1em;
    
}


#loading{
    display: none;
}
